@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

header {

    height: 100px;
}

nav {

    display: block;
}


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #404040; 
    background-color: #99c2ff;
}


    

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #404040;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
    text-shadow: 2px 2px 4px #3385ff;
    
    
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin: 30px;
}

#menu a:hover {
    border-bottom: 1px solid #3385ff;
    color: #fff;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

.active {
    border-bottom: 1px solid #3385ff;
}

#hero-image-outer {

    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-image {
    
    height: 500px;
    width: 100%;
    background: url('../images/pexels-leon-ardho-1552242\ \(2\).jpg') no-repeat center center;
    animation-name: hero-image-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

    

@keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
} 

#text-box, #text-box h2{

    color: #fff;
    text-align: center;
}

#text-box-where-everybody-is-welcome {
    font-family: Roboto, sans-serif;
    color:#809fff;
    padding: 5px;
}

#text-box-reach-your-goals {
    font-family: Roboto, sans-serif;
    color: #fff;
    
    
}

#text-box-get-training {

    font-family: Roboto, sans-serif;
    color:#809fff;
         
}

hr {
    margin: 10px;
}


#text-box {
    font-size: 150%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 400px;
    height: 200px;

    padding-top: 50px;
    margin-right: 50px;

    background-color: rgba(204, 224, 255, .3);

    bottom: 120px;
    right: 400px;
    

    position: absolute;
}

#welcome {

    text-align: center;
    text-transform: uppercase;
    
    font-size: 250%;
	border-radius: 10px;
	width: 100%;
	margin: 0;
	background-color: #809fff;
    position: relative;
    left: 0;
    top: 0;
}

.photos  {
    
    width: 400px;
    height: 400px;
    padding: 30px ;
    border-width: 1px;
    margin: 0 auto;
       
}


#photos-circle {
    background: url('../images/pexels-andrea-piacquadio-903171.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    
}

#photos-circle2 {

    background: url('../images/pexels-andrea-piacquadio-905336.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#photos-circle3 {
    
    background: url('../images/pexels-julia-larson-6455926.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}



.about-gymworld-box1 {
    text-align: center;
    padding: 10px 5px 25px 5px;
	border-radius: 10px;
	width: 66%;
	margin: 2%;
	background-color: #809fff;
    position: relative;
    left: 15%;
    top: 30px;
}

.wrapped {

    margin-top: 10%;
}
      


img {
    border-radius: 8px;
    width: 75%;
    margin: 5px;
}


#div-right {

    background-color: #809fff;
    width: 32%;
    margin-right: 7px;
    float: right;
    height: 650px;
    border-radius: 8px;
    box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, .5);
    text-align: center;
}

#div-left {

    background-color: #809fff;
    width: 32%;
    margin-left: 7px;
    float: left;
    height: 650px;
    border-radius: 8px;
    box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, .5);
    text-align: center;
    
}

#div-middle {

    background-color: #809fff;
    width: 32%;
    margin: 0 auto;
    height: 650px;
    border-radius: 8px;
    box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, .5);
    text-align: center;
    
    
}

footer {
    height: 150px;
          
}

.icon:hover {
     
    color: white;
}

.socials {
    text-align: center;
}

.socials > li{
    display: inline;
}

.socials i {
    font-size: 130%;
    margin: 5px;
    padding: 5%;
    color: #3a3a3a;
}

#class-heading {

    height: auto;
    width: 100%;
    text-align: center;
    
}


#fitness-header > h2 {
    background-color: #809fff;
    color: #fff;
    margin: auto 0;
    text-align: center;
    padding: 30px 0;
}



#div-circuit {

    background-color: #809fff;
    width: 32%;
    margin-right: 7px;
    float: right;
    height: 250px;
    border-radius: 8px;
    box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, .5);
    text-align: center;
}

#div-strength {

    background-color: #809fff;
    width: 32%;
    margin-left: 7px;
    float: left;
    height: 250px;
    border-radius: 8px;
    box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, .5);
    text-align: center;
}

#div-body-pump { 

    background-color: #809fff;
    width: 32%;
    margin: 0 auto;
    height: 250px;
    border-radius: 8px;
    box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, .5);
    text-align: center;

}

#div-hiit {

    background-color: #809fff;
    width: 32%;
    display: inline-block;
    height: 250px;
    border-radius: 8px;
    box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, .5);
    text-align: center;
}

#div-cycle {

    background-color: #809fff;
    width: 32%;
    display: inline-block;
    height: 250px;
    border-radius: 8px;
    box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, .5);
    text-align: center;

}



#timetable-heading {

    height: 100%;
    width: 100%;

}


#table-header > h2 {
    background-color: #809fff;
    color: #fff;
    margin: auto 0;
    text-align: center;
    padding: 30px 0;
    
}





















    
    
    
